body{
    margin-left: 280px;
    margin-top: 80px;
    background-color:#2a6496
}

#index{
    margin: 0px;
    background-image: url("../PicS/Background.jpg");
}

#game-screen{
    display: block;
}

.jumbotron {
    text-align: center;
    text-shadow: 4px 4px 4px #123456;
}

#gameOver {
    position: absolute;
    visibility: hidden;

}
