body{
    margin: 0;
    padding: 0;
}

#game-screen{
    display: block;
}

h1{
    color: white;
    text-align: center;
    text-shadow: 4px 4px 4px #123456;
   
}

h2{
    text-align: center;
}

div{
    text-align: center;
}

.body1{
    background-image: url("../PicS/Background.jpg")
}


